<h2><%= @entry.name %> Entry</h2>

<h4>Bracket</h4>
<% @entry.picks.each_with_index do |p| %>
  <div>
    Pick <%= p.slot_name %> - <%= link_to "Make Pick", edit_pick_path(p) %>
</div>
<% if p.opponent %>
  <div>
    Pick: <%= p.opponent.name %>
</div>
    <% end %>
  <% end %>
